---

---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="/manifest.webmanifest">
		<meta name="viewport" content="width=device-width" />
		<title>Orig'Amis</title>
	</head>
	<body>
		<h1>Orig'Amis</h1>
	</body>
</html>
